.results {
    background-color: var(--pelorous-701);
    backdrop-filter: blur(4px);
    border: 1px solid var(--pelorous-600);
    border-radius: .5rem;
    color: var(--pelorous-50);
    min-height: 100%;
    padding: 1.125rem 1.5rem 1.25rem;
}

.results h2 {
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.result h3 {
    font-size: .875rem;
    font-weight: 400;
}
