.button {
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 3rem;
    text-transform: uppercase;
}

.button.save.disabled,
.button.save.disabled:hover {
    color: var(--pelorous-950);
    cursor: default;
    background-color: grey;
    opacity: 0.3;
}

.button.save {
    background-color: var(--pelorous-500);
    color: var(--pelorous-950);
    margin-top: 1.25rem;
}

.button.save:hover {
    background-color: var(--pelorous-950);
    color: var(--pelorous-50);
}

.button.search {
    background-color: var(--pelorous-950);
    color: var(--pelorous-50);
}

.button.search:hover {
    background-color: var(--pelorous-500);
    color: var(--pelorous-950);
}

@media (max-width: 575px) {
    .button {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .button {
        font-size: .875rem;
        padding: .5rem 2rem;
    }

    .button.save {
        margin-top: 1.5rem;
    }
}
