.track {
    border-bottom: 1px solid var(--pelorous-600);
    padding: .75rem 0;
    position: relative;
    text-align: left;
}

.track .title {
    font-size: 1.125rem;
    font-weight: 500;
}

.track .artist {
    color: var(--pelorous-100);
    font-size: 14px;
    font-weight: 400;
}

.track .toggle {
    background: none;
    border: none;
    color: var(--pelorous-50);
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 1;
    padding: 1rem 0 1rem 1rem;
    position: absolute;
    right: 0;
    top: 7px;
}

.track .divider {
    font-size: 10px;
    position: relative;
    top: -1px;
}
