.playlist {
    background-color: var(--pelorous-701);
    backdrop-filter: blur(4px);
    border: 1px solid var(--pelorous-600);
    border-radius: .5rem;
    color: var(--pelorous-50);
    min-height: 100%;
    padding: 1.5rem;
    text-align: center;
}

.playlist input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--pelorous-500);
    border-radius: 0;
    color: var(--pelorous-50);
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 1.25rem;
    padding: 1rem 0;
    width: 100%;
}

.playlist input::placeholder {
    color: var(--pelorous-500);
}

.playlist input:focus-visible,
.playlist input:focus-within {
    outline-color: var(--pelorous-400);
}

.playlist .placeholder {
    font-size: .875rem;
    font-weight: 400;
}

.playlist ul li:first-child {
    border-top: none;
}

.playlist ul li:last-child {
    border-bottom: 1px solid var(--pelorous-500);
}

.success h3 {
    font-weight: 500;
    margin-bottom: 1rem;
}

.success h3 > span {
    display: block;
    font-size: 1.75rem;
    font-weight: 700;
    margin: .25rem 0;
}

.success h4 {
    font-size: .875rem;
    font-weight: 500;
    margin: 0 auto;
    max-width: 25ch;
}

@media (min-width: 1024px) {
    .results {
        padding: 1.125rem 1.5rem;
    }
}
