/* Colours:
    950 - Header background, song title
    900 - Search button background
    800 - Add icon
    700 - Column backgrounds (0.8 opacity)
    600 - Track border, Column border
    500 - Primary, Save button background
    100 - Artist name
    50 - Text on dark bgs
*/

:root {
    --fontface: "Inter", system-ui, Helvetica, Arial, sans-serif;
    --pelorous-950: #0c3040;
    --pelorous-900: #1b4b5e;
    --pelorous-800: #1c596e;
    --pelorous-700: #176d87;
    --pelorous-701: rgba(23, 109, 135, .8);
    --pelorous-600: #1487a6;
    --pelorous-500: #16b5d4;
    --pelorous-400: #30c5e0;
    --pelorous-300: #71deef;
    --pelorous-200: #abedf6;
    --pelorous-100: #d2f6fb;
    --pelorous-50: #edfdfe;
    --pelorous-0: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fontface);
    font-optical-sizing: auto;
    font-style: normal;
    font-synthesis: none;
    font-weight: 400;
    line-height: 1.5;
    min-height: 100vh;
    min-width: 320px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button,
input {
    font-family: var(--fontface);
}

main {
    padding-bottom: 5rem;
}

main .bg {
    background: url('./assets/background.jpg') no-repeat 50% 75%;
    background-size: cover;
    left: 0;
    min-height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

main .bg::before {
    background-color: rgba(12, 48, 64, 0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 100%;
    z-index: 10;
}

.columns {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.column {
    min-height: min-content;
    width: 100%;
}

@media (min-width: 1024px) {
    .container {
        max-width: 960px;
    }

    .column--left {
        width: 53%;
    }

    .column--right {
        width: 42%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
